        .container {
            display: flex;
            justify-content: space-around;
        }

        .main_cal_div {
            width: 23%;
            height: 60%;
            margin-left: 5rem;
        }

        .cal_div {
            overflow: hidden;
            background-color: rgba(36, 35, 35, 0.89);
            height: 26.5rem;
        }

        .output_div {
            font-size: 2.2rem;
            text-align: end;
            background-color: rgba(36, 35, 35, 0.89);
            color: white;
            padding: 1.2rem 0.5rem;
        }


        .cal_keys {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 0.9px;
            margin: -3px;
            height: 24rem;
        }

        .zero_key {
            grid-column: 1 / 3;
            grid-row: 5 / span 2;
            height: 3.8rem;
        }

        .key {
            border: none;
            padding: 0.6em 0.4em;
            color: white;
            font-size: 1.4rem;
        }

        .op_key_b {
            background-color: rgba(95, 94, 94, 0.677);
        }

        .op_key_lb {
            background-color: rgba(163, 160, 160, 0.503);
        }

        .op_key_y {
            background-color: rgba(246, 193, 45, 0.904);
        }

        .op_key_b:hover {
            background-color: rgba(163, 160, 160, 0.503);
        }

        .op_key_lb:hover {
            background-color: rgba(95, 94, 94, 0.677);
        }

        .op_key_y:hover {
            background-color: rgba(236, 196, 87, 0.874);
        }

        #svBtn {
            padding: 0.7rem 2.2rem;
            border-radius: 5px;
            background-color: rgb(6, 67, 142);
            border: none;
            font-size: 0.9rem;
            color: white;
            cursor: pointer;
        }

        #getName {
            padding: 0.6rem 1.8rem 0.6rem 0.1rem;
        }

        #delBtn {
            border: navajowhite;
            background: transparent;
            font-size: 1.4rem;
            cursor: pointer;
        }

        th,
        td {
            border: 1px solid black;
        }

        input[type='checkbox'] {
            accent-color: rgb(36, 35, 35);
        }